<div class="container py-3">
    <header>
        <div
            class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/"
                class="d-flex align-items-center text-dark text-decoration-none">
                <span class="material-symbols-outlined fs-1">
                    home
                </span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a title="tickets"
                    class="me-3 py-2 text-dark text-decoration-none"
                    href="{% url 'ticket-list' %}"><span
                        class="material-symbols-outlined">
                        folder
                    </span></a>
                <!-- <a class="me-3 py-2 text-dark text-decoration-none"
                    href="#">Enterprise</a>
                <a class="me-3 py-2 text-dark text-decoration-none"
                    href="#">Support</a> -->
                <a title="user account"
                    class="py-2 text-dark text-decoration-none"
                    id="navbarDarkDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="#"><span class="material-symbols-outlined">
                        account_circle
                    </span></a>
                <ul class="dropdown-menu"
                    aria-labelledby="navbarDarkDropdownMenuLink">

                    {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item"
                            href="#">Profile</a></li>
                    <li><a class="dropdown-item"
                            href="#">Log out</a></li>
                    {% else %}
                    <li><a class="dropdown-item"
                            href="#">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </header>
</div>
<div class="d-flex justify-content-center">
    <div class="col-lg-3 mx-auto">
        <input class="form-control form-control-sm rounded-pill"
            type="search"
            name=""
            id=""
            placeholder="search">
    </div>
</div>